<h2>{{user.username}}! Thank for register on site</h2>
<h3>Please verify your email to continue...</h3>
<a href="{{host}}/auth/verify-email/?token={{user.emailToken}}">Verify Your Email</a>
<p>If you did not request this email you can safely ignore it.</p>