<h2>{{user.username}}! You can reset your password on below</h2>
<h3>Please click link under to reset your password</h3>
<a href="{{host}}/auth/reset-password/?token={{user.emailToken}}">Reset password</a>
<p>If you did not request this email you can safely ignore it.</p>